@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("odometer-theme-default.css");

/* Start Variables */
:root {
  --main-color: #1d8c2f;
  --gray-900: #222222;
  --gray-800: #333333;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-transition: all 0.3s ease-in;
}
/* End Variables */

/* Start Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  overflow-x: hidden;
  color: var(--gray-900);
}
a {
  transition: color 0.3s ease;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* End Global Styles */

/* Start Components */
.section-spacing {
  padding-top: 100px;
}
.section-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-900);
  margin-bottom: 32px;
}
.btn {
  max-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 100%;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid var(--main-color) !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
}
.btn-main {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}
.btn-main:hover {
  background-color: var(--white-color) !important;
  color: var(--main-color) !important;
}
.btn-secondary {
  background-color: var(--white-color) !important;
  color: var(--main-color) !important;
}
.btn-secondary:hover {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
}
/* End Components */

/* Start Navbar */
.navbar {
  position: fixed;
  height: 100px;
  left: 0;
  right: 0;
  z-index: 1030;
  padding-top: 0 !important;
  background-color: var(--white-color);
}
.navbar .navbar-container {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .navbar-brand {
  display: inline-block;
  max-height: 100%;
  margin-left: 2rem;
}
.navbar .navbar-brand img {
  max-height: 100%;
}
.navbar .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
}
.navbar .offcanvas a:hover,
.navbar .offcanvas a.active {
  color: var(--main-color);
}
.navbar .offcanvas a.active {
  font-weight: 700;
}
.navbar .offcanvas .btn-close {
  box-shadow: none;
  width: 0.5em;
  height: 0.5em;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar .dropdown {
  color: var(--main-color);
  font-size: 13px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.navbar .dropdown-menu {
  font-size: 13px;
  border: 1px solid var(--main-color);
  min-width: 100px;
  top: 105%;
  right: -1px;
}
.navbar .dropdown-toggle::after {
  content: "";
  border-top: 0.5em solid;
  border-left: 0.5em solid transparent;
  border-bottom: 0;
  border-right: 0.5em solid transparent;
}
.navbar .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color) !important;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}
.navbar .dropdown-item:active {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}
.navbar .form-select:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .navbar {
    height: 70px;
  }
  .navbar .offcanvas {
    border: 0;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    justify-content: start !important;
    align-items: start !important;
    margin-right: 0;
  }
}
/* End Navbar */

/* ===== Start Home Page ===== */
/*  Start Home Section */
.home-section {
  padding-top: 150px;
}
.home-section .home-content {
  margin-bottom: 96px;
}
.home-section .home-content h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
.home-section .home-content h2 span {
  color: var(--main-color);
}
.home-section .home-content p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: #454545;
}
@media (max-width: 922px) {
  .home-section .home-content h2 {
    font-size: 32px;
  }
}
/*  End Home Section */

/* Start Counter Section */
.counter-one {
  padding-top: 60px;
}
.counter-one .odometer {
  direction: ltr;
  text-align: left;
}
.counter-one .counter-one_count-inner {
  text-align: center;
}
.counter-one .counter-one_counter {
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 17px;
}
.counter-one .counter-one_counter .plus {
  position: relative;
  bottom: 4px;
}
.counter-one .counter-one_text {
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
/* End Counter Section */

/* Start Domains Section */
.domains-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.domains .swiper-button-next,
.domains .swiper-button-prev {
  position: static !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.domains .swiper-button-next::after,
.domains .swiper-button-prev::after {
  font-weight: 600;
  font-size: 14px;
  color: var(--white-color);
}
.domains .swiper-button-next.swiper-button-disabled,
.domains .swiper-button-prev.swiper-button-disabled {
  background-color: #badeca;
}
.domains .swiper-slide {
  position: relative;
  color: var(--white-color);
  border-radius: 16px;
  overflow: hidden;
}
.domains .swiper-slide img {
  width: 100%;
}
.domains .domain-item-details {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.domains .domain-item-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: rgba(33, 150, 83, 0.9);
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.domains .domain-item-details h4,
.domains .domain-item-overlay h4 {
  font-size: 20px;
  font-weight: 700;
}
.domains .domain-item-overlay p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
.domains .swiper-slide:hover .domain-item-overlay {
  opacity: 1;
  visibility: visible;
}
/* End Domains Section */

/* Start Inspiration */
.inspiration .inspiration-cover {
  background-image: url("../images/inspiration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 485px;
}
.inspiration .box-quotes {
  width: 50%;
  height: 329px;
  margin-top: 78px;
  margin-bottom: 78px;
  background-color: rgba(233, 245, 238, 0.64);
  backdrop-filter: blur(80px);
  padding: 32px;
  border-radius: 12px;
  text-align: center;
}
.inspiration .box-quotes .swiper-slide p {
  font-size: 24px;
  font-weight: 700;
}
.inspiration .swiper-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.inspiration .swiper-button-next,
.inspiration .swiper-button-prev {
  position: static !important;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
}
.inspiration .swiper-button-next::after,
.inspiration .swiper-button-prev::after {
  font-weight: 600;
  font-size: 12px;
  color: var(--white-color);
}
.inspiration .swiper-button-next.swiper-button-disabled,
.inspiration .swiper-button-prev.swiper-button-disabled {
  background-color: #badeca;
}
@media (max-width: 768px) {
  .inspiration .box-quotes {
    width: 100% !important;
  }
}
/* End Inspiration */

/* Start Campaigns */
.campaigns {
  padding-bottom: 100px;
}
.campaigns-cover {
  position: relative;
}
.campaigns-cover::before {
  content: "";
  position: absolute;
  top: var(--before-top);
  width: var(--before-width);
  height: var(--before-height);
  inset-inline-start: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: all 0.3s ease;
}
.campaigns-img {
  position: relative;
  width: 30%;
  margin-bottom: 40px;
}
.campaigns-img img {
  max-width: 90%;
  height: auto;
  border-radius: 12px;
}
.campaigns-content {
  width: 70%;
}
.campaigns-content .campaigns-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 4%;
  row-gap: 20px;
}
.campaigns-content .campaigns-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 48%;
}
.campaigns-content .campaigns-item h4 {
  font-size: 16px;
  font-weight: 700;
}
.campaigns-content .campaigns-item p {
  font-size: 16px;
  color: rgba(68, 68, 68, 1);
}
@media (max-width: 768px) {
  .campaigns-cover::before {
    display: none;
  }
  .campaigns-img,
  .campaigns-content {
    position: static;
    width: 100% !important;
  }
  .campaigns-content .campaigns-item {
    width: 100% !important;
  }
}
/* End Campaigns */

/* Start Grant Section */
.grant {
  padding-bottom: 100px;
}
.grant-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-900);
  margin-bottom: 40px;
}
.grant-images {
  position: relative;
  aspect-ratio: 4 / 3;
}
.grant-images .img {
  position: absolute;
}
.grant-images .img img {
  object-fit: cover;
}
.img-left {
  top: -50px;
  left: 0;
  border: 5px solid var(--main-color);
  border-radius: 21px;
}
.img-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.img-center::before {
  content: "";
  position: absolute;
  top: 10%;
  left: -10%;
  display: block;
  width: 120%;
  height: 80%;
  border: 2px solid var(--main-color);
  border-radius: 16px;
  z-index: -1;
}
.img-right {
  bottom: -50px;
  right: 0;
  border: 5px solid var(--main-color);
  border-radius: 21px;
}
@media (max-width: 768px) {
  .grant-content,
  .grant-images {
    width: 100% !important;
  }
  .img-center {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .img-left,
  .img-right {
    display: none;
  }
  .img-center {
    position: static !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .img-center img {
    max-width: 100%;
    height: auto;
  }
}
/* End Grant Section */

/* Start ather-section */
.ather-section {
  background-color: #e9f5ee;
  padding-bottom: 40px;
}
.ather-video {
  position: relative;
  /* height: 519px; */
}
.video-cover {
  height: 100%;
  border-radius: 12px;
}
.video-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ather-content p {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .ather-video,
  .ather-content {
    width: 100% !important;
  }
}
/* End ather-section */

/* Start Brands Section */
.brands-cover {
  background-image: url("../images/brands-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 83, 0.6);
}
/* End Brands Section */

/* ===== End Home Page ===== */

/* Start Footer Section */
footer {
  padding-top: 18px;
}
.footer-section {
  background-color: #121212;
  padding-top: 75px;
}
.footer-heading {
  margin-bottom: 40px;
}
.footer-heading .input-group {
  height: 56px;
}
.footer-heading .input-group input {
  background-color: #6c757d;
  color: var(--white-color);
  border-color: #6c757d;
}
.footer-heading .input-group input:focus {
  box-shadow: none;
}
.form-control::placeholder {
  color: #ccc;
  opacity: 1;
  line-height: normal;
  vertical-align: middle;
}
.footer-section p {
  color: rgba(255, 255, 255, 0.71);
  line-height: 35px;
}
.footer-section h4 {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 700;
  color: #badeca;
  margin-bottom: 16px;
}
.footer-section ul li {
  margin-bottom: 12px;
}
.footer-section ul li a {
  font-size: 16x;
  font-weight: 400;
  color: #e7e7e7;
  display: inline-block;
  line-height: 1.8;
}
.footer-section ul li a:hover {
  color: var(--main-color);
}
.footer-section ul.contanct-us li {
  display: flex;
  align-items: start;
  gap: 5px;
  margin-bottom: 19px;
}
.footer-section ul.contanct-us li img {
  display: inline-block;
  padding-top: 5px;
}
.footer-section .copyright {
  margin-top: 20px;
  padding: 20px 0;
  color: var(--white-color);
  text-align: center;
  border-top: 1px solid #ecdeb7;
}
/* End Footer Section */
